[user]
  name  = username
  email = email

[color]
  branch  = auto
  diff    = auto
  status  = auto
  ui      = true

[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  st = status
