[user]
  name  = username
  email = email

[color]
  branch  = auto
  diff    = auto
  status  = auto
  ui      = true

[alias]
  hist= log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status
